flows_raspberrypi.json
[{"id":"d7ce74a.43e7388","type":"tab","label":"flow 1","disabled":false,"info":"enciende esp8266"},{"id":"f9b6399.2058fc8","type":"tab","label":"riego","disabled":false,"info":""},{"id":"6cc16f3c.dad2f","type":"mqtt-broker","z":"","name":"onOff","broker":"192.168.0.166","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e1b7f5f3.0b6ab8","type":"ui_tab","z":"","name":"Home","icon":"fa-thermometer-quarter","order":2,"disabled":false,"hidden":false},{"id":"a8464516.28a0c8","type":"ui_group","z":"","name":"menu inicio","tab":"e1b7f5f3.0b6ab8","disp":true,"width":"6","collapse":false},{"id":"617de4b8.ce394c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"684ea34e.4e38bc","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"3e69dea1.d0ec72","type":"ui_spacer","name":"spacer","group":"8f61ee06.c5251","order":3,"width":1,"height":1},{"id":"c3b9abaa.cc9f18","type":"ui_tab","z":"f9b6399.2058fc8","name":"riego","icon":"dashboard","disabled":false,"hidden":false},{"id":"8f61ee06.c5251","type":"ui_group","z":"","name":"Default","tab":"c3b9abaa.cc9f18","disp":true,"width":"6","collapse":false},{"id":"77f6a1d2.b92f5","type":"inject","z":"d7ce74a.43e7388","name":"","topic":"inTopic","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":100,"wires":[["a78b0bcf.69ebf8","100b8b57.ea8395"]]},{"id":"100b8b57.ea8395","type":"mqtt out","z":"d7ce74a.43e7388","name":"","topic":"","qos":"","retain":"","broker":"6cc16f3c.dad2f","x":510,"y":100,"wires":[]},{"id":"a78b0bcf.69ebf8","type":"debug","z":"d7ce74a.43e7388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":280,"wires":[]},{"id":"cbb446.39251bb8","type":"mqtt in","z":"d7ce74a.43e7388","name":"","topic":"casa/cocina/nevera","qos":"0","broker":"6cc16f3c.dad2f","x":220,"y":280,"wires":[["a78b0bcf.69ebf8","ebacb907.c96aa8"]]},{"id":"ebacb907.c96aa8","type":"ui_text","z":"d7ce74a.43e7388","group":"a8464516.28a0c8","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-right","x":510,"y":180,"wires":[]},{"id":"3f07e5a2.4897ca","type":"ui_ui_control","z":"d7ce74a.43e7388","name":"enter","x":290,"y":360,"wires":[[]]},{"id":"c2b0fe29.a5272","type":"inject","z":"f9b6399.2058fc8","name":"","topic":"inTopic","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":120,"wires":[["c8f73ef9.23f36","181fdee2.b80ac1"]]},{"id":"181fdee2.b80ac1","type":"mqtt out","z":"f9b6399.2058fc8","name":"","topic":"","qos":"","retain":"","broker":"6cc16f3c.dad2f","x":530,"y":120,"wires":[]},{"id":"c8f73ef9.23f36","type":"debug","z":"f9b6399.2058fc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":300,"wires":[]},{"id":"b7586208.3aeef","type":"mqtt in","z":"f9b6399.2058fc8","name":"","topic":"casa/cocina/nevera","qos":"0","broker":"6cc16f3c.dad2f","x":240,"y":300,"wires":[["c8f73ef9.23f36","e615711a.54483"]]},{"id":"2fdd6ed.1971c92","type":"ui_ui_control","z":"f9b6399.2058fc8","name":"enter","x":250,"y":220,"wires":[["e615711a.54483"]]},{"id":"e615711a.54483","type":"ui_text","z":"f9b6399.2058fc8","group":"8f61ee06.c5251","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":500,"y":220,"wires":[]}]