flows_raspberrypi.json
[{"id":"d7ce74a.43e7388","type":"tab","label":"flow 1","disabled":false,"info":"enciende esp8266"},{"id":"6cc16f3c.dad2f","type":"mqtt-broker","z":"d7ce74a.43e7388","name":"RaspberryServer","broker":"192.168.0.60","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e1b7f5f3.0b6ab8","type":"ui_tab","z":"","name":"Home","icon":"house","order":2,"disabled":false,"hidden":false},{"id":"617de4b8.ce394c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":28,"sy":28,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3e69dea1.d0ec72","type":"ui_spacer","name":"spacer","group":"8f61ee06.c5251","order":3,"width":1,"height":1},{"id":"8f61ee06.c5251","type":"ui_group","z":"","name":"home","tab":"e1b7f5f3.0b6ab8","disp":true,"width":"6","collapse":false},{"id":"6a75dd8b.dd5894","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"4b63a5c7.21c51c","type":"mqtt in","z":"d7ce74a.43e7388","name":"Salon IN","topic":"casa/luces/salon","qos":"0","broker":"6cc16f3c.dad2f","x":160,"y":100,"wires":[["4b527c80.93ceb4"]]},{"id":"4b527c80.93ceb4","type":"ui_text","z":"d7ce74a.43e7388","group":"8f61ee06.c5251","order":1,"width":"6","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":310,"y":100,"wires":[]},{"id":"445bdd7e.a5f574","type":"ui_button","z":"d7ce74a.43e7388","name":"","group":"8f61ee06.c5251","order":2,"width":"1","height":"1","passthru":false,"label":"On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":150,"y":160,"wires":[["f1720432.794038"]]},{"id":"7b9777f2.6d83b8","type":"ui_button","z":"d7ce74a.43e7388","name":"","group":"8f61ee06.c5251","order":3,"width":"1","height":"1","passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":150,"y":220,"wires":[["f1720432.794038"]]},{"id":"f1720432.794038","type":"mqtt out","z":"d7ce74a.43e7388","name":"Salon ON OFF","topic":"casa/luces/salon/acciones","qos":"","retain":"","broker":"6cc16f3c.dad2f","x":320,"y":160,"wires":[]}]