flows_raspberrypi.json
[{"id":"d7ce74a.43e7388","type":"tab","label":"RiegoAuto","disabled":false,"info":"temporizar riego\n"},{"id":"437970b.fd3399","type":"tab","label":"Tv","disabled":false,"info":""},{"id":"f25737d2.a56978","type":"tab","label":"ControlRiego","disabled":false,"info":""},{"id":"d5bf1748.543588","type":"subflow","name":"Subflow 1","info":"","in":[{"x":960,"y":340,"wires":[{"id":"780631de.18f03"}]}],"out":[]},{"id":"e1b7f5f3.0b6ab8","type":"ui_tab","z":"","name":"Riego Automatico","icon":"wb_sunny","order":2,"disabled":false,"hidden":false},{"id":"617de4b8.ce394c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Control Domotico","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":28,"sy":28,"gx":17,"gy":17,"cx":6,"cy":6,"px":6,"py":6}}},{"id":"3e69dea1.d0ec72","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"2393d6f0.2f06da","type":"ui_spacer","name":"spacer","group":"b6d52961.196668","order":3,"width":"12","height":1},{"id":"75e02395.761c8c","type":"ui_spacer","name":"spacer","group":"b6d52961.196668","order":1,"width":"8","height":"1"},{"id":"6256ee51.4808","type":"ui_group","z":"","name":"Dias","tab":"e1b7f5f3.0b6ab8","order":2,"disp":true,"width":"8","collapse":false},{"id":"62f31826.772e28","type":"ui_spacer","name":"spacer","group":"6256ee51.4808","order":9,"width":"8","height":1},{"id":"e9229fb4.84a14","type":"ui_spacer","name":"spacer","group":"6256ee51.4808","order":1,"width":"8","height":1},{"id":"e6a57b48.64b4a8","type":"ui_group","z":"","name":"Tiempo de riego por canal","tab":"e1b7f5f3.0b6ab8","order":3,"disp":true,"width":"8","collapse":false},{"id":"43024100.3abbb","type":"ui_group","z":"","name":"volumen","tab":"12431c0.9f722e4","order":1,"disp":true,"width":"8","collapse":false},{"id":"89ba4b19.b941e8","type":"ui_group","z":"","name":"Acciones","tab":"e1b7f5f3.0b6ab8","order":4,"disp":true,"width":"8","collapse":false},{"id":"353193e2.3064fc","type":"mqtt-broker","z":"","name":"Brokker_domotica","broker":"192.168.0.166","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"12431c0.9f722e4","type":"ui_tab","z":"","name":"Tv","icon":"tv","disabled":false,"hidden":false},{"id":"b2c6e7a.a81ab18","type":"ui_spacer","name":"spacer","group":"89ba4b19.b941e8","order":2,"width":1,"height":1},{"id":"3afc7b88.263a54","type":"ui_group","z":"","name":"Hora de encendido","tab":"e1b7f5f3.0b6ab8","order":1,"disp":true,"width":"6","collapse":false},{"id":"1eea9cb8.f74fe3","type":"ui_switch","z":"d7ce74a.43e7388","name":"","label":"Lunes","tooltip":"","group":"6256ee51.4808","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"lunes","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":350,"y":320,"wires":[["f6863d77.76ef8"]]},{"id":"ba982812.459828","type":"debug","z":"d7ce74a.43e7388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":990,"y":880,"wires":[]},{"id":"17ee3fed.633ed","type":"ui_button","z":"d7ce74a.43e7388","name":"","group":"89ba4b19.b941e8","order":3,"width":0,"height":0,"passthru":false,"label":"Guardar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"guardar","x":620,"y":820,"wires":[["644d8d3.b6afa74"]]},{"id":"5987dbaa.0f3ac4","type":"ui_switch","z":"d7ce74a.43e7388","name":"","label":"Martes","tooltip":"","group":"6256ee51.4808","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"martes","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":360,"y":380,"wires":[["ed8de645.11e578"]]},{"id":"a0f403d2.27998","type":"file","z":"d7ce74a.43e7388","name":"","filename":"riego.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1000,"y":820,"wires":[[]]},{"id":"ee0e806d.5c6d5","type":"function","z":"d7ce74a.43e7388","name":"lunes","func":"var testval = global.get('DatosRiego');\nmsg.payload=testval.lunes;\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":320,"wires":[["1eea9cb8.f74fe3","bb6fc4de.285108"]]},{"id":"e2f26495.f02f58","type":"file in","z":"d7ce74a.43e7388","name":"","filename":"riego.txt","format":"utf8","chunk":false,"sendError":false,"x":280,"y":160,"wires":[["2c038578.55e6da"]]},{"id":"b22fdd7c.b7677","type":"inject","z":"d7ce74a.43e7388","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":160,"wires":[["e2f26495.f02f58"]]},{"id":"2c038578.55e6da","type":"json","z":"d7ce74a.43e7388","name":"configuracionRiego","property":"payload","action":"obj","pretty":false,"x":210,"y":220,"wires":[["546f443d.5da75c"]]},{"id":"a44b6b71.fcfc58","type":"ui_switch","z":"d7ce74a.43e7388","name":"","label":"Miercoles","tooltip":"","group":"6256ee51.4808","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"miercoles","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":360,"y":440,"wires":[["967c4930.04b488"]]},{"id":"dc550438.e39a18","type":"ui_switch","z":"d7ce74a.43e7388","name":"","label":"Jueves","tooltip":"","group":"6256ee51.4808","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"jueves","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":360,"y":500,"wires":[["6f93a289.07900c"]]},{"id":"3ed48153.b858fe","type":"ui_switch","z":"d7ce74a.43e7388","name":"","label":"Viernes","tooltip":"","group":"6256ee51.4808","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"viernes","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":360,"y":560,"wires":[["855eeb6f.313308"]]},{"id":"3c017966.acb4f6","type":"ui_switch","z":"d7ce74a.43e7388","name":"","label":"Sabado","tooltip":"","group":"6256ee51.4808","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"sabado","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":360,"y":620,"wires":[["4b692f8f.47a43"]]},{"id":"c3d283bb.11e12","type":"ui_switch","z":"d7ce74a.43e7388","name":"","label":"Domingo","tooltip":"","group":"6256ee51.4808","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"domingo","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":360,"y":680,"wires":[["e2947237.92f19"]]},{"id":"8a6b1431.824e08","type":"ui_numeric","z":"d7ce74a.43e7388","name":"","label":"Valvula 1","tooltip":"","group":"e6a57b48.64b4a8","order":1,"width":0,"height":0,"passthru":true,"topic":"canal1","format":"{{value}}","min":0,"max":"99","step":1,"x":880,"y":320,"wires":[["ea5a6f17.fa715"]]},{"id":"f38e97f5.a87ef8","type":"ui_numeric","z":"d7ce74a.43e7388","name":"","label":"Valvula 2","tooltip":"","group":"e6a57b48.64b4a8","order":1,"width":0,"height":0,"passthru":true,"topic":"canal2","format":"{{value}}","min":0,"max":"99","step":1,"x":880,"y":380,"wires":[["da16374d.45da38"]]},{"id":"546f443d.5da75c","type":"change","z":"d7ce74a.43e7388","name":"","rules":[{"t":"set","p":"DatosRiego","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":220,"wires":[["ee0e806d.5c6d5","b98077d1.238b28","6de0598.b0c96a8","dd22aa7.7ceb058"]]},{"id":"bb6fc4de.285108","type":"function","z":"d7ce74a.43e7388","name":"martes","func":"var testval = global.get('DatosRiego');\nmsg.payload=testval.martes;\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":380,"wires":[["5987dbaa.0f3ac4","6e24fc71.8d7d84"]]},{"id":"6e24fc71.8d7d84","type":"function","z":"d7ce74a.43e7388","name":"miercoles","func":"var testval = global.get('DatosRiego');\nmsg.payload=testval.miercoles;\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":440,"wires":[["a3287e55.6bf7a","a44b6b71.fcfc58"]]},{"id":"a3287e55.6bf7a","type":"function","z":"d7ce74a.43e7388","name":"jueves","func":"var testval = global.get('DatosRiego');\nmsg.payload=testval.jueves;\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":500,"wires":[["dc550438.e39a18","a0f1a1cf.e4e4d"]]},{"id":"a0f1a1cf.e4e4d","type":"function","z":"d7ce74a.43e7388","name":"viernes","func":"var testval = global.get('DatosRiego');\nmsg.payload=testval.viernes;\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":560,"wires":[["18a0c640.61eb2a","3ed48153.b858fe"]]},{"id":"18a0c640.61eb2a","type":"function","z":"d7ce74a.43e7388","name":"sabado","func":"var testval = global.get('DatosRiego');\nmsg.payload=testval.sabado;\nreturn msg;","outputs":1,"noerr":0,"x":178.01953125,"y":618.75390625,"wires":[["3c017966.acb4f6","bab3238f.a48ba"]]},{"id":"bab3238f.a48ba","type":"function","z":"d7ce74a.43e7388","name":"domingo","func":"var testval = global.get('DatosRiego');\nmsg.payload=testval.domingo;\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":680,"wires":[["c3d283bb.11e12"]]},{"id":"b98077d1.238b28","type":"function","z":"d7ce74a.43e7388","name":"canal 1","func":"var testval = global.get('DatosRiego');\nif(testval.canal1 === null){\nmsg.payload=2;}else msg.payload=testval.canal1;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":320,"wires":[["8a6b1431.824e08","11db53cb.524ecc"]]},{"id":"11db53cb.524ecc","type":"function","z":"d7ce74a.43e7388","name":"canal 2","func":"var testval = global.get('DatosRiego');\nif(testval.canal2 === null){\nmsg.payload=2;}else msg.payload=testval.canal2;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":380,"wires":[["f38e97f5.a87ef8","253dbf1e.02ff"]]},{"id":"f6863d77.76ef8","type":"function","z":"d7ce74a.43e7388","name":"canal1","func":"var testval = global.get('DatosRiego');\ntestval.lunes=msg.payload;\nreturn testval;","outputs":1,"noerr":0,"x":490,"y":320,"wires":[[]]},{"id":"ed8de645.11e578","type":"function","z":"d7ce74a.43e7388","name":"canal1","func":"var testval = global.get('DatosRiego');\ntestval.martes=msg.payload;\nreturn testval;","outputs":1,"noerr":0,"x":490,"y":380,"wires":[[]]},{"id":"967c4930.04b488","type":"function","z":"d7ce74a.43e7388","name":"canal1","func":"var testval = global.get('DatosRiego');\ntestval.miercoles=msg.payload;\nreturn testval;","outputs":1,"noerr":0,"x":490,"y":440,"wires":[[]]},{"id":"6f93a289.07900c","type":"function","z":"d7ce74a.43e7388","name":"canal1","func":"var testval = global.get('DatosRiego');\ntestval.jueves=msg.payload;\nreturn testval;","outputs":1,"noerr":0,"x":490,"y":500,"wires":[[]]},{"id":"855eeb6f.313308","type":"function","z":"d7ce74a.43e7388","name":"canal1","func":"var testval = global.get('DatosRiego');\ntestval.viernes=msg.payload;\nreturn testval;","outputs":1,"noerr":0,"x":490,"y":560,"wires":[[]]},{"id":"4b692f8f.47a43","type":"function","z":"d7ce74a.43e7388","name":"canal1","func":"var testval = global.get('DatosRiego');\ntestval.sabado=msg.payload;\nreturn testval;","outputs":1,"noerr":0,"x":487.01953125,"y":620.25390625,"wires":[[]]},{"id":"e2947237.92f19","type":"function","z":"d7ce74a.43e7388","name":"canal1","func":"var testval = global.get('DatosRiego');\ntestval.domingo=msg.payload;\nreturn testval;","outputs":1,"noerr":0,"x":490,"y":680,"wires":[[]]},{"id":"ea5a6f17.fa715","type":"function","z":"d7ce74a.43e7388","name":"canal1","func":"var testval = global.get('DatosRiego');\ntestval.canal1=msg.payload;\nreturn testval;","outputs":1,"noerr":0,"x":1010,"y":320,"wires":[[]]},{"id":"da16374d.45da38","type":"function","z":"d7ce74a.43e7388","name":"canal2","func":"var testval = global.get('DatosRiego');\ntestval.canal2=msg.payload;\nreturn testval;","outputs":1,"noerr":0,"x":1010,"y":380,"wires":[[]]},{"id":"644d8d3.b6afa74","type":"function","z":"d7ce74a.43e7388","name":"canal1","func":"var testval = global.get('DatosRiego');\n//msg = testval;\nreturn {payload:testval};","outputs":1,"noerr":0,"x":790,"y":820,"wires":[["a0f403d2.27998","ba982812.459828"]]},{"id":"4659f630.a768a8","type":"ui_numeric","z":"d7ce74a.43e7388","name":"","label":"Valvula 3","tooltip":"","group":"e6a57b48.64b4a8","order":1,"width":0,"height":0,"passthru":true,"topic":"canal3","format":"{{value}}","min":0,"max":"99","step":1,"x":880,"y":440,"wires":[["2547d01f.0a64d"]]},{"id":"dcb1549b.58b278","type":"ui_numeric","z":"d7ce74a.43e7388","name":"","label":"Valvula 4","tooltip":"","group":"e6a57b48.64b4a8","order":1,"width":0,"height":0,"passthru":true,"topic":"canal4","format":"{{value}}","min":0,"max":"99","step":1,"x":880,"y":500,"wires":[["2253561f.f2607a"]]},{"id":"253dbf1e.02ff","type":"function","z":"d7ce74a.43e7388","name":"canal 3","func":"var testval = global.get('DatosRiego');\nif(testval.canal3 === null){\nmsg.payload=2;}else msg.payload=testval.canal3;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":440,"wires":[["4659f630.a768a8","353d8caf.878cc4"]]},{"id":"353d8caf.878cc4","type":"function","z":"d7ce74a.43e7388","name":"canal 4","func":"var testval = global.get('DatosRiego');\nif(testval.canal4 === null){\nmsg.payload=2;}else msg.payload=testval.canal4;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":500,"wires":[["dcb1549b.58b278","3db6af17.fd315"]]},{"id":"2547d01f.0a64d","type":"function","z":"d7ce74a.43e7388","name":"canal3","func":"var testval = global.get('DatosRiego');\ntestval.canal3=msg.payload;\nreturn testval;","outputs":1,"noerr":0,"x":1010,"y":440,"wires":[[]]},{"id":"2253561f.f2607a","type":"function","z":"d7ce74a.43e7388","name":"canal4","func":"var testval = global.get('DatosRiego');\ntestval.canal4=msg.payload;\nreturn testval;","outputs":1,"noerr":0,"x":1010,"y":500,"wires":[[]]},{"id":"658819b2.69c048","type":"ui_numeric","z":"d7ce74a.43e7388","name":"","label":"Valvula 5","tooltip":"","group":"e6a57b48.64b4a8","order":1,"width":0,"height":0,"passthru":true,"topic":"canal5","format":"{{value}}","min":0,"max":"99","step":1,"x":880,"y":560,"wires":[["b634e42b.728008"]]},{"id":"15efd1e7.82a6ee","type":"ui_numeric","z":"d7ce74a.43e7388","name":"","label":"Valvula 6","tooltip":"","group":"e6a57b48.64b4a8","order":1,"width":0,"height":0,"passthru":true,"topic":"canal6","format":"{{value}}","min":0,"max":"99","step":1,"x":880,"y":620,"wires":[["6dcd84a.c04797c"]]},{"id":"3db6af17.fd315","type":"function","z":"d7ce74a.43e7388","name":"canal 5","func":"var testval = global.get('DatosRiego');\nif(testval.canal5 === null){\nmsg.payload=2;}else msg.payload=testval.canal5;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":560,"wires":[["658819b2.69c048","a7e2d28.720de3"]]},{"id":"a7e2d28.720de3","type":"function","z":"d7ce74a.43e7388","name":"canal 6","func":"var testval = global.get('DatosRiego');\nif(testval.canal6 === null){\nmsg.payload=2;}else msg.payload=testval.canal6;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":620,"wires":[["15efd1e7.82a6ee","fd3b060f.b4c918"]]},{"id":"b634e42b.728008","type":"function","z":"d7ce74a.43e7388","name":"canal5","func":"var testval = global.get('DatosRiego');\ntestval.canal5=msg.payload;\nreturn testval;","outputs":1,"noerr":0,"x":1010,"y":560,"wires":[[]]},{"id":"6dcd84a.c04797c","type":"function","z":"d7ce74a.43e7388","name":"canal6","func":"var testval = global.get('DatosRiego');\ntestval.canal6=msg.payload;\nreturn testval;","outputs":1,"noerr":0,"x":1010,"y":620,"wires":[[]]},{"id":"50dce440.3fdc1c","type":"ui_numeric","z":"d7ce74a.43e7388","name":"","label":"Valvula 7","tooltip":"","group":"e6a57b48.64b4a8","order":1,"width":0,"height":0,"passthru":true,"topic":"canal7","format":"{{value}}","min":0,"max":"99","step":1,"x":880,"y":680,"wires":[["bd9f690f.78a8b8"]]},{"id":"50220df9.ee39b4","type":"ui_numeric","z":"d7ce74a.43e7388","name":"","label":"Valvula 8","tooltip":"","group":"e6a57b48.64b4a8","order":1,"width":0,"height":0,"passthru":true,"topic":"canal8","format":"{{value}}","min":0,"max":"99","step":1,"x":880,"y":740,"wires":[["b0e02ba2.d12c98"]]},{"id":"fd3b060f.b4c918","type":"function","z":"d7ce74a.43e7388","name":"canal 7","func":"var testval = global.get('DatosRiego');\nif(testval.canal7 === null){\nmsg.payload=2;}else msg.payload=testval.canal7;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":680,"wires":[["50dce440.3fdc1c","433022ee.43b07c"]]},{"id":"433022ee.43b07c","type":"function","z":"d7ce74a.43e7388","name":"canal 8","func":"var testval = global.get('DatosRiego');\nif(testval.canal8 === null){\nmsg.payload=2;}else msg.payload=testval.canal8;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":740,"wires":[["50220df9.ee39b4"]]},{"id":"bd9f690f.78a8b8","type":"function","z":"d7ce74a.43e7388","name":"canal7","func":"var testval = global.get('DatosRiego');\ntestval.canal7=msg.payload;\nreturn testval;","outputs":1,"noerr":0,"x":1010,"y":680,"wires":[[]]},{"id":"b0e02ba2.d12c98","type":"function","z":"d7ce74a.43e7388","name":"canal8","func":"var testval = global.get('DatosRiego');\ntestval.canal8=msg.payload;\nreturn testval;","outputs":1,"noerr":0,"x":1010,"y":740,"wires":[[]]},{"id":"4ad17030.79b1d","type":"ui_switch","z":"d7ce74a.43e7388","name":"","label":"Estado On/Off","tooltip":"","group":"89ba4b19.b941e8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"onOff","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":900,"y":220,"wires":[["c81c4611.fd5ca8"]]},{"id":"6de0598.b0c96a8","type":"function","z":"d7ce74a.43e7388","name":"Riego on off","func":"var testval = global.get('DatosRiego');\nmsg.payload=testval.onOff;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":220,"wires":[["4ad17030.79b1d"]]},{"id":"c81c4611.fd5ca8","type":"function","z":"d7ce74a.43e7388","name":"Estado","func":"var testval = global.get('DatosRiego');\ntestval.onOff=msg.payload;\nreturn testval;","outputs":1,"noerr":0,"x":1080,"y":220,"wires":[[]]},{"id":"9b3edefc.9a7b","type":"file in","z":"f25737d2.a56978","name":"","filename":"riego.txt","format":"utf8","chunk":false,"sendError":false,"x":100,"y":120,"wires":[["e5985051.fbc14"]]},{"id":"5881fa78.5e60a4","type":"inject","z":"f25737d2.a56978","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":60,"wires":[["9b3edefc.9a7b"]]},{"id":"e5985051.fbc14","type":"json","z":"f25737d2.a56978","name":"configuracionRiego","property":"payload","action":"obj","pretty":false,"x":110,"y":180,"wires":[["9572421b.d02d7"]]},{"id":"9572421b.d02d7","type":"change","z":"f25737d2.a56978","name":"","rules":[{"t":"set","p":"ControlRiego","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":240,"wires":[["4cf819a9.215658"]]},{"id":"7f31f457.acebac","type":"viera read","z":"437970b.fd3399","name":"getVolume","host":"192.168.0.167","function":"getVolume","x":650,"y":60,"wires":[["aab8b51e.958d68"]]},{"id":"6ab1d579.65a45c","type":"inject","z":"437970b.fd3399","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":450,"y":60,"wires":[["7f31f457.acebac"]]},{"id":"1862f48d.64e7cb","type":"viera write","z":"437970b.fd3399","name":"setVolume","host":"192.168.0.167","function":"setVolume","x":650,"y":160,"wires":[]},{"id":"aab8b51e.958d68","type":"debug","z":"437970b.fd3399","name":"","active":true,"console":"false","complete":"false","x":830,"y":60,"wires":[]},{"id":"b76eda47.d57338","type":"inject","z":"437970b.fd3399","name":"","topic":"","payload":"home","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":450,"y":340,"wires":[["e28647b0.ccdc88"]]},{"id":"e28647b0.ccdc88","type":"viera write","z":"437970b.fd3399","name":"sendCommand","host":"192.168.0.167","function":"sendCommand","x":640,"y":340,"wires":[]},{"id":"67f6db81.640c54","type":"inject","z":"437970b.fd3399","name":"true","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":450,"y":440,"wires":[["51102e96.cfb44"]]},{"id":"51102e96.cfb44","type":"viera write","z":"437970b.fd3399","name":"setMute","host":"192.168.0.167","function":"setMute","x":620,"y":440,"wires":[]},{"id":"343c44ac.bdcc5c","type":"inject","z":"437970b.fd3399","name":"false","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":450,"y":480,"wires":[["51102e96.cfb44"]]},{"id":"738d069e.a14f48","type":"inject","z":"437970b.fd3399","name":"","topic":"","payload":"app","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":430,"y":380,"wires":[["e28647b0.ccdc88"]]},{"id":"adbbfadf.70c678","type":"inject","z":"437970b.fd3399","name":"","topic":"","payload":"15","payloadType":"str","repeat":"","crontab":"","once":false,"x":450,"y":200,"wires":[["1862f48d.64e7cb"]]},{"id":"b3e2bd0a.e498b","type":"inject","z":"437970b.fd3399","name":"","topic":"","payload":"20","payloadType":"str","repeat":"","crontab":"","once":false,"x":450,"y":240,"wires":[["1862f48d.64e7cb"]]},{"id":"54cdd664.22dd88","type":"inject","z":"437970b.fd3399","name":"","topic":"","payload":"25","payloadType":"str","repeat":"","crontab":"","once":false,"x":450,"y":280,"wires":[["1862f48d.64e7cb"]]},{"id":"ae524268.4de92","type":"viera read","z":"437970b.fd3399","name":"getMute","host":"192.168.0.167","function":"getMute","x":640,"y":100,"wires":[["aab8b51e.958d68"]]},{"id":"e23db90.0230248","type":"inject","z":"437970b.fd3399","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":450,"y":100,"wires":[["ae524268.4de92"]]},{"id":"ff226b0.1f8da98","type":"ui_slider","z":"437970b.fd3399","name":"","label":"slider","tooltip":"","group":"43024100.3abbb","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":270,"y":380,"wires":[["c8f2eafa.c870c8"]]},{"id":"c8f2eafa.c870c8","type":"change","z":"437970b.fd3399","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"msg.payload","fromt":"str","to":"msg.payload","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":140,"wires":[["1862f48d.64e7cb"]]},{"id":"198fbf58.23c241","type":"viera read","z":"437970b.fd3399","name":"","host":"192.168.0.167","function":"getVolume","x":170,"y":220,"wires":[["8fbf1c8d.dd25d"]]},{"id":"59756cef.54a6f4","type":"inject","z":"437970b.fd3399","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":140,"wires":[["198fbf58.23c241"]]},{"id":"8fbf1c8d.dd25d","type":"change","z":"437970b.fd3399","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"msg.payload","fromt":"str","to":"msg.payload","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":300,"wires":[["ff226b0.1f8da98"]]},{"id":"37d73dd0.a1d8c2","type":"ui_numeric","z":"d7ce74a.43e7388","name":"","label":"Hora","tooltip":"","group":"3afc7b88.263a54","order":9,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"23","step":1,"x":1390,"y":280,"wires":[["d15dee1c.815f8"]]},{"id":"3e07035a.0664fc","type":"ui_numeric","z":"d7ce74a.43e7388","name":"","label":"Minutos","tooltip":"","group":"3afc7b88.263a54","order":10,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"59","step":1,"x":1380,"y":340,"wires":[["95c9373.68504c8"]]},{"id":"dd22aa7.7ceb058","type":"function","z":"d7ce74a.43e7388","name":"horas","func":"var testval = global.get('DatosRiego');\nif(testval.horas === null){\nmsg.payload=0;}else msg.payload=testval.horas;\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":280,"wires":[["f2ce1dd8.2e89a","37d73dd0.a1d8c2"]]},{"id":"f2ce1dd8.2e89a","type":"function","z":"d7ce74a.43e7388","name":"minutos","func":"var testval = global.get('DatosRiego');\nif(testval.minutos === null){\nmsg.payload=0;}else msg.payload=testval.minutos;\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":340,"wires":[["3e07035a.0664fc"]]},{"id":"d15dee1c.815f8","type":"function","z":"d7ce74a.43e7388","name":"canal1","func":"var testval = global.get('DatosRiego');\ntestval.horas=msg.payload;\nreturn testval;","outputs":1,"noerr":0,"x":1530,"y":280,"wires":[[]]},{"id":"95c9373.68504c8","type":"function","z":"d7ce74a.43e7388","name":"canal1","func":"var testval = global.get('DatosRiego');\ntestval.minutos=msg.payload;\nreturn testval;","outputs":1,"noerr":0,"x":1510,"y":340,"wires":[[]]},{"id":"1752e121.9f253f","type":"function","z":"f25737d2.a56978","name":"comprueba dia semana","func":"var testval = flow.get('ControlRiego');\nvar horas = new Date();\n\nvar diaSemana = [testval.domingo,\n                 testval.lunes,\n                 testval.martes,\n                 testval.miercoles,\n                 testval.jueves,\n                 testval.viernes,\n                 testval.sabado];\nvar dia = horas.getDay();      \nvar diaActivo = diaSemana[dia];\n\nmsg.payload = diaActivo;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":380,"wires":[["3535127c.4ea11e"]]},{"id":"3535127c.4ea11e","type":"switch","z":"f25737d2.a56978","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":380,"wires":[["8ea2adab.13cfe"],[]]},{"id":"8ea2adab.13cfe","type":"function","z":"f25737d2.a56978","name":"comprueba hora","func":"var testval = flow.get('ControlRiego');\nvar Riego_on = flow.get('Activo'); \nvar horas = new Date();\nvar hora = horas.getHours();\nvar minutos = horas.getMinutes();\nif(hora === testval.horas && minutos === testval.minutos){\n    \n    Riego_on = true;\n    flow.set('Activo', Riego_on);\n    msg.payload = true;\n    \n}else{\n    \n    msg.payload = false;\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":340,"wires":[[]]},{"id":"4cf819a9.215658","type":"function","z":"f25737d2.a56978","name":"riego activo?","func":"var activo = flow.get('Activo') || false;\nmsg.payload = activo;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":100,"wires":[["17b1ecfd.fb7703"]]},{"id":"17b1ecfd.fb7703","type":"switch","z":"f25737d2.a56978","name":"comprueba si activo","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":160,"wires":[["c08f2a12.bab248"],["c608d316.1550b"]]},{"id":"22f020be.085b6","type":"switch","z":"f25737d2.a56978","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":320,"wires":[["1752e121.9f253f"],[]]},{"id":"c608d316.1550b","type":"function","z":"f25737d2.a56978","name":"comprueba Activo","func":"var testval = flow.get('ControlRiego');\nvar onOff = testval.onOff;\nmsg.payload = onOff;\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":320,"wires":[["22f020be.085b6"]]},{"id":"c08f2a12.bab248","type":"function","z":"f25737d2.a56978","name":"Riego on off","func":"var testval = flow.get('ControlRiego');\nvar activo = flow.get('Activo');\nvar cont = flow.get('Cont') || 0;\n\ncont += 1;\n\nif(cont > 15){\n    activo = false;\n    cont = 0;\n    flow.set('Activo', activo);\n}\n\nif(cont%2 === 0){\n    msg.payload = \"off\";\n}else{\n    msg.payload = \"on\";\n}\n\n//msg.payload = activo;\nflow.set('Cont', cont);\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":160,"wires":[["91ea7de7.266b3","a8408e60.890f"]]},{"id":"91ea7de7.266b3","type":"debug","z":"f25737d2.a56978","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":160,"wires":[]},{"id":"a8408e60.890f","type":"link out","z":"f25737d2.a56978","name":"salida a riego","links":["6b31939e.51c50c","a0869f07.885c7","7a08f7d4.bf4da8","e4c53ec7.86c0d","99a6828f.6e0d4","a1ed4dce.e8c8c","4febcfd.5166d3"],"x":820,"y":240,"wires":[]},{"id":"4febcfd.5166d3","type":"link in","z":"f25737d2.a56978","name":"","links":["a8408e60.890f"],"x":1075,"y":220,"wires":[["a359f2be.42f3b"]]},{"id":"780631de.18f03","type":"function","z":"d5bf1748.543588","name":"crea Json","func":"var valores = {\n  \"canal\" : \"2\",\n  \"status\" : \"off\"\n};\n\nvalores.status = msg.payload;\nmsg.payload = valores\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":340,"wires":[["23f205df.58873a","b1204178.af1e6"]]},{"id":"b1204178.af1e6","type":"debug","z":"d5bf1748.543588","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1370,"y":220,"wires":[]},{"id":"23f205df.58873a","type":"mqtt out","z":"d5bf1748.543588","name":"","topic":"casa/luces/salon/acciones","qos":"","retain":"","broker":"353193e2.3064fc","x":1410,"y":400,"wires":[]},{"id":"a359f2be.42f3b","type":"subflow:d5bf1748.543588","z":"f25737d2.a56978","name":"","x":1260,"y":220,"wires":[]}]